.meeting-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background: cornflowerblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .meeting-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-radius: none;
        background: white;

        width: fit-content;
        min-width: 300px;

        height: fit-content;
        min-height: 150px;

        padding: 10px;

        border-radius: 5%;

        .meeting-modal-header {
            display: flex;
            flex-direction: row;
            justify-content: center;

            height: fit-content;
            border-bottom: 3px solid cornflowerblue;

            h1 {
                padding: 0;
                margin: 0;

                font-size: 24px;
            }
        }

        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .meeting-modal-footer {
            display: flex;
            flex-direction: row;
            justify-content: center;

            border-top: 3px solid cornflowerblue;
            padding: 5px;
            .deleteButton {
                margin-right: 5px;

                background-color: red;
                border: none;
                border-radius: 5px;
                color: white;
            }
        }
    }
}
